body{
    background-color: #000205;
    background-image: url("starfield.jpeg");
}

#game {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -500px;
    margin-left: -500px;
    border-radius: 50%;
}

  /* all other browsers */
  @keyframes spinner {
    0% {
      -moz-transform: skewY(0deg);
      -ms-transform: skewY(0deg);
      transform: skewY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
      -moz-transform: rotateZ(0deg);
      -ms-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
    }
    10% {
      -moz-transform: rotateZ(50deg);
      -ms-transform: rotateZ(50deg);
      transform: rotateZ(50deg);
    }
    30% {
      -moz-transform: skewY(-20deg);
      -ms-transform: skewY(-20deg);
      transform: skewY(-20deg);
      -moz-transform: rotateZ(250deg);
      -ms-transform: rotateZ(250deg);
      transform: rotateZ(250deg);
    }
    60% {
      -moz-transform: rotateY(90deg);
      -ms-transform: rotateY(90deg);
      transform: rotateY(90deg);
      -moz-transform: rotateZ(0);
      -ms-transform: rotateZ(0);
      transform: rotateZ(0);
    }
	70% {
    -moz-transform: skewY(20deg);
    -ms-transform: skewY(20deg);
    transform: skewY(20deg);
	  -moz-transform: rotateZ(180px);
	  -ms-transform: rotateZ(180px);
	  transform: rotateZ(180px);
	}
    100% {
      -moz-transform: skewY(0);
      -ms-transform: skewY(0);
      transform: skewY(0);
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
      -moz-transform: rotateZ(-360deg);
      -ms-transform: rotateZ(-360deg);
      transform: rotateZ(-360deg);
    }
  }

#game {
   -webkit-animation-name: spinner;
   -webkit-animation-timing-function: easy-in-out;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 12s;

   animation-name: spinner;
   animation-timing-function: easy-in-out;
   animation-iteration-count: infinite;
   animation-duration: 12s;

   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
 }